.image-panel {
    overflow: hidden;
    font-weight: 100;
    font-size: 0.8em;
    color: rgb(33, 33, 33);
}

.image-wrapper {
    min-width: calc(100% - 160px - 120px);
    max-width: calc(100% - 160px - 120px);
    min-height: 100%;
    max-height: 100%;
    background: transparent no-repeat scroll center center;
    background-size: contain;
    padding: 0px;
    float: left;
}

.image {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

.image:active {
    opacity: 0.97;
}

.show {
    opacity: 1;
}

.image-description {
    width: 68px;
    margin: 12px;
    display: inline-block;
}

.image-description-item {
    line-height: 1.3em;
}

.image-title {
    font-weight: 300;
    font-size: 1.3em;
    color: rgb(17, 17, 17);
}

.image-artist {
    font-style: italic;
}

.image-date {
    font-size: 0.94em;
}
